/* Icon sizes */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.material-icons.md-18 {
    font-size: 18px;
    color: #eadeda;
}

.material-icons.md-24 {
    font-size: 24px;
    color: #eadeda;
}

.material-icons.md-36 {
    font-size: 36px;
    color: #eadeda;
}

.material-icons.md-48 {
    font-size: 48px;
    color: #eadeda;
}

/* Spacing to make up for fixed footer 
   This allows you to properly scroll */
.spacing-footer {
    margin-bottom: 75px;
}

.spacing-header {
    margin-top: 92px;
}
.spacing-footer-big {
    margin-bottom: 150px;
}

body {
    height: 100%;
    background-color: rgb(255, 243, 243);
    font-family: "VT323";
}

.light-grey {
    background-color: rgb(223, 223, 223);
}

.material-icons {
    cursor: pointer;
}

.grey {
    background-color: #DCDCD4;
}

/* To prevent touch to search*/
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

i {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#CreateTasks,
#CreateActivities {
    cursor: pointer;
}



/* COLORS */

/* COLOR PALETTE COLORS */
.timberwolf {
    background-color: #eadeda;
}

.brandy {
    background-color: #8a3033;
}

.burnt-umber {
    background-color: #823329;
}


.dark-turquoise {
    background-color: #52dee5;
}

.dark-turquoise-text {
    color: #52dee5;
}

.middle-blue {
    background-color: #92DCE5;
}

.middle-blue-text {
    color: #92DCE5;
}

.grey-web {
    background-color: #7c7c7c;
}

.grey-web-text {
    color: #7c7c7c;
}

.lavender-blush {
    background-color: #eee5e9;
}

.lavender-blush-text {
    color: #eee5e9;
}

.onyx {
    background-color: #383d3b;
}

.onyx-text {
    color: #383d3b;
}

.form-control:disabled {
    background-color: #eee5e9;
}


/* other colors */

/* color for any feature that is not implemented */
.unavailable {
    color: #909090;
}

/* for extremely faded out text */
.greyText {
    color: #cacaca;
}

html,
body {
    background-color: #eee5e9;
}

.btn:hover {
    color: #ffffff;
}

/* css for cursor pointer */
#cursor {
    cursor: pointer;
}

#cursor1 {
    cursor: pointer;
}

#cursor2 {
    cursor: pointer;
}

#settings {
    cursor: pointer;
}

#history {
    cursor: pointer;
}

#favorites {
    cursor: pointer;
}

#logout {
    cursor: pointer;
}

.border {
    cursor: pointer;
}

#title {
    cursor: pointer;
}

.justify-self-center{
    justify-self: end;
}

.standard-image{
    width: 100%;
    height: 100%;
    filter: blur(25px);
}

/* Stuff for buttons*/
.editProfBtn{
    background-color: #823329 !important;
}

.editPrefBtn{
    background-color: #823329 !important;
}

button[type=button]{
    background-color: #823329 !important;
}

a[type=button]{
    background-color: #823329 !important;
}

/* Fonts */
#login-CTA {
    font-family: "VT323";
}
